﻿.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.connector {
}
.snapshot {
}
.o_primary_button {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
.o_text_field {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.o_heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  text-align:left;
}
.o_heading_2 {
  font-size:24px;
  text-align:left;
}
.o_heading_3 {
  font-size:20px;
  text-align:left;
}
.o_heading_4 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_paragraph {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.o_text_link {
  color:#1E1E1E;
}
.o_breadcrumb {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.o_hint {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.o_table_header_left {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
.o_table_cell_left {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.o_table_cell_left_first {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.o_table_cell_right {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
.ellipse {
}
.form_disabled1 {
}
.radio_button {
  font-size:16px;
  color:#7F7F7F;
  text-align:left;
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.o_table_header_left_first {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.o_table_header_right {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.shape {
}
.dialog_box_shadow {
  font-family:'SourceSansPro-Regular', 'Source Sans Pro';
  font-weight:400;
  font-style:normal;
}
.o_box_3_black {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.shape1 {
  font-size:14px;
  text-align:left;
}
.o_secondary_button {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
.o_main_menu_button {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_main_menu_button_hover {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_main_menu_button_selected {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_text_area {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.o_select {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
.dotted_box {
}
.secondary_button {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E1E1E;
}
.o_floating_button {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.checkbox {
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.text_field {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.submenu_button {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.o_tab {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_tab_hover {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_tab_selected {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.o_tab_disabled {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#D7D7D7;
  text-align:left;
}
.primary_button1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
.table_cell_left {
  font-size:14px;
  text-align:left;
}
.shape2 {
  font-size:14px;
  text-align:left;
}
.submenu_button_hover {
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.icon {
}
.main_menu_button {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.main_menu_button_selected {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.form_hint1 {
  color:#999999;
}
.select {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.box_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0080D7;
  text-align:center;
}
.line {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.shape3 {
}
.card {
  color:#404040;
  text-align:left;
}
textarea, select, input, button { outline: none; }
